* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  color: #212121;
}

.view-list {
  height: 500px;
}
.view-list li {
  border-bottom: 1px solid #FFEE58;
  padding: .5em;
}
.view-list li:nth-child(even) {
  background-color: #FFFDE7;
}
